.avatar-image-list{
    margin-top:10px;
    // margin-right:10px;
    // margin-bottom:0px;
    // margin-left:15px;
}

.avatar-image-battle-list-item-competitor-list{
    margin-top:5px;
    margin-right:10px;
    margin-bottom:5px;
    margin-left:0px;
}

.avatar-image-battle-detail-competitor-list{

}