.battle_form{
    border-radius: 5px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top:20px;
    background-color:white;
    box-shadow: 5px 5px 5px #888888;
    color:#292f33;
    
}

.battle-form-header{
    margin-top:0px;
    border-top-right-radius:  5px;
    border-top-left-radius:  5px;
    margin-bottom:10px;
    color:#292f33;
    h3{
        text-align:center;
        margin-top:10px;
    }
    form{
        fieldset{
            input{
                border-radius: 0px;
            }
        }
    }
}

.form-control{
    border-radius: 0px;
}

.btn{
    border-radius: 0px;
}