.battle-details-container{
    background-color:white;
}   


.battle-details-header{
    background-color: white;
    border-bottom:1px solid #c1c9cc;
    .navigation-button{
        min-width:176px;
        background-color: #292f33;
        border:0px;
        &:hover{
           background-color: #181e22;
        }
    }
}

.battle-details-body{
    background-color: white;
    padding:10px;
    margin-top:10px;
    .competitor{
        background-color:white;
        margin-bottom:5px;
        border-radius:5px;
        &:hover{
            background-color:#c1c9cc;
            cursor:pointer;
        }
    }
}

.battle-details-footer{
    color:white;
    background-color:#181e22;
    padding:5px;
}