.battle-list-item{
    background-color:white;
    margin-bottom:20px;
    border:dotted 1px #f1f8ed;
}



.battle-list-container{
    background-color:white;
}

.battle-list-item-video{
    margin-right:0px;
    padding:0px;
}
.battle-list-item-header-avatar{
    display:block;
    margin-right:20px;
}
.battle-list-item-header-text{
    margin-top:15px;
    display:inline-block;
    margin-left:20px;
}

.battle-list-item-username{
    font-weight: bold;
    &:hover{
        cursor:pointer;
        text-decoration: underline;
    }
    
}

.battle-list-item-competitors{
    text-align:center;
    padding:0px;
    border-left:1px dotted #e1e8ed;
}

.battle-list-item-competitor-list{
    padding-left:5px;
    padding-right:5px;
}
.battle-list-item-competitor-list-item{
    padding-left:5px;
    
    text-align:left;

    &:hover{
        background-color: #e1e8ed;
        // color:white;
        cursor:pointer;
    }
}

.battle-list-item-competitor-list-item-username{
    overflow:hidden !important;
    text-overflow: ellipsis;
    display:inline-block;
    
}

.battle-list-item-footer{
    // background-color:#292f33;
    padding:10px;

}

.battle-list-item-footer-content{
}

.battle-list-item-footer-content-button{
   
}


.battle-list-item-body{
    margin-bottom:20px;
}