



/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    .header
    {
        background-color:#292f33;
        color:white;
        width:100%;
        border-radius:0px; 
    }


    .navbar-light .navbar-nav .nav-link {
        color:#e1e8ed;
        border-radius:0px;
        background-color:#292f33;
        visibility: hidden;
        &:hover{
            background-color:#181e22;
        }
    }

    .navbar{
        padding:0px;
        height: 52px;
    }

    .header-item-dropdown{
        color:#e1e8ed;
        background-color:#292f33;
        border:0px;
        height:50px;
        visibility: hidden;
        &:hover{
            background-color:#181e22;
            text-decoration: none;
            color:#e1e8ed;
        }
    }
    .nav-link-dropdown{
        width:20px;
        padding:20px;
        color:#292f33;
        &:hover{
            text-decoration: underline;
            color:#292f33;
        }
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
    .header
    {
        background-color:#292f33;
        color:white;
        width:100%;
        border-radius:0px; 
    }
    .navbar-light .navbar-nav .nav-link {
        color:#e1e8ed;
        border-radius:0px;
        background-color:#292f33;
        visibility: hidden;
        
        &:hover{
            background-color:#181e22;
        }
    }
    .navbar{
        padding:0px;
        height: 52px;
    }

        .header-item-dropdown{
        color:#e1e8ed;
        background-color:#292f33;
        border:0px;
        height:50px;
         visibility: hidden;
        &:hover{
            background-color:#181e22;
            text-decoration: none;
            color:#e1e8ed;
        }
    }
    .nav-link-dropdown{
        width:20px;
        padding:20px;
        color:#292f33;
        &:hover{
            text-decoration: underline;
            color:#292f33;
        }
    }

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .header
    {
        background-color:#292f33;
        color:white;
        width:100%;
        border-radius:0px; 
    }
    .navbar-light .navbar-nav .nav-link {
        color:#e1e8ed;
        border-radius:0px;
        background-color:#292f33;
        visibility: visible;
        &:hover{
            background-color:#181e22;
        }
    }

    .navbar{
        padding:0px;
        height: 52px;
    }

        .header-item-dropdown{
        color:#e1e8ed;
        background-color:#292f33;
        border:0px;
        height:50px;
        visibility: visible;
        &:hover{
            background-color:#181e22;
            text-decoration: none;
            color:#e1e8ed;
        }
    }
    .nav-link-dropdown{
        width:20px;
        padding:20px;
        color:#292f33;
        &:hover{
            text-decoration: underline;
            color:#292f33;
        }
    }

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .header
    {
        background-color:#292f33;
        color:white;
        width:100%;
        border-radius:0px; 
    }
    .navbar-light .navbar-nav .nav-link {
        color:#e1e8ed;
        border-radius:0px;
        background-color:#292f33;
        
        &:hover{
            background-color:#181e22;
        }
    }

    .navbar{
        padding:0px;
        height: 52px;
    }

    .header-item-dropdown{
        color:#e1e8ed;
        background-color:#292f33;
        border:0px;
        height:50px;
        visibility: visible;
        &:hover{
            background-color:#181e22;
            text-decoration: none;
            color:#e1e8ed;
        }
    }
    .nav-link-dropdown{
        width:20px;
        padding:20px;
        color:#292f33;
        &:hover{
            text-decoration: underline;
            color:#292f33;
        }
    }

}

@media only screen and (min-width : 1200px) {
    .header
    {
        background-color:#292f33;
        color:white;
        width:100%;
        border-radius:0px; 
    }
    .navbar-light .navbar-nav .nav-link {
        color:#e1e8ed;
        border-radius:0px;
        background-color:#292f33;
        
        &:hover{
            background-color:#181e22;
        }
    }

    .navbar{
        padding:0px;
        height: 52px;
    }

    .header-item-dropdown{
        color:#e1e8ed;
        background-color:#292f33;
        border:0px;
        height:50px;
        visibility: visible;
        &:hover{
            background-color:#181e22;
            text-decoration: none;
            color:#e1e8ed;
        }
    }
    .nav-link-dropdown{
        width:20px;
        padding:20px;
        color:#292f33;
        &:hover{
            text-decoration: underline;
            color:#292f33;
        }
    }

}


// #337ab7


// .navbar-light .navbar-brand{
//     color:white;
//     &:hover{
//         color:white;
//     }

//     &:visited{
//         color:white;
//     }
// }