@import 'header';
@import 'user_list';
@import 'battle_form';
@import 'battle_list_item';
@import 'avatar_image_list';
@import 'signup_form';
@import 'battle_details';

.error {
color:#A94442;
font-size: 12px;
}

body{
    background-color:#c1c9cc;
    font-family: 'Open Sans', sans-serif;
}

.container-fluid{
    padding-left:0px;
    padding-right:0px;
}

.main-container{
    padding-left:50px;
    padding-right:50px;
}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}

.glyphicon-fire{
    color:red;
}
