.user-list-row{
    margin-top:50px;

    thead{
        background-color:#595959;
        color:white;
        th{
            text-align: center;
            font-weight: lighter;
        }
    }

    tbody{
        tr{
        &:hover{
            background-color:#DCDCDC;
        }
    }
    }

}
